<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of accounts</title>
    <link th:href="@{css/styleListAccounts.css}" rel="stylesheet" />
</head>
<body>
<div th:switch="${accounts}" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:case="*">
        <table class="table">
            <thead>
            <tr>
                <th class="text">Id</th>
                <th class="text">Login</th>
                <th class="text">Password</th>
                <th class="text">Mail</th>
                <th class="text">Mail Password</th>
                <th class="text">Edit</th>
                <th class="text" >Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${accounts}">
                <td class="text" th:text="${account.id}"></td>
                <td class="text" th:text="${account.login}"></td>
                <td class="text" th:text="${account.password}"></td>
                <td class="text" th:text="${account.mail}"></td>
                <td class="text" th:text="${account.mailPassword}"></td>
                <td><a class="button" th:href="@{/edit/{id}(id=${account.id})}">Edit</a></td>
                <td><a class="button" th:href="@{/delete/{id}(id=${account.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a class="button" href="/add">Add a new account</a></p>
</div>

</body>
</html>